* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    /* background-color: rgb(170, 108, 228); */
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 30px 84px;
}

.left {
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
}

#firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 69px 0;
}

#firstSection>div {
    width: 30%;
}

#firstSection .leftSection {
    font-size: 2rem;
}

#firstSection .rightSection img {
    width: 80%;
}

/* Utility Classes */
.purple {
    color: rgb(170, 108, 228);
}

#element {
    color: rgb(170, 108, 228);
}

#secondSection {
    max-width: 80vw;
    margin: auto;
}

#secondSection h1 {
    font-size: 2rem;
}

#thirdSection {
    max-width: 80vw;
    margin: auto;
    height: 28vh;
}

.skills h1 {
    font-size: 2rem;
    margin-right: 50px;
    margin-top: 15px;
}

#thirdSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

#thirdSection .vertical {
    background: white;
    width: 1px;
    height: 40px;
    margin: 0 60px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -37px;
    left: -10px;
}

.vertical-text {
    position: relative;
    width: 150px;
}

.image-top-1 {
    width: 23px;
    position: relative;
    top: -37px;
    left: -10px;
    top: -28px;
}

.vertical-text-1 {
    position: relative;
    width: 150px;
    top: 9px;
}

#fourthSection {
    max-width: 80vw;
    margin: auto;
    height: 42.5vh;
}

.projects h2 {
    font-size: 2rem;
    margin-right: 50px;
    margin-top: 15px;
}

#fourthSection .box-1 {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

#fourthSection .vertical-project {
    background: white;
    width: 1px;
    height: 40px;
    margin: 0 150px;
}

.image-top-2 {
    width: 23px;
    position: relative;
    top: -37px;
    left: -10px;
    top: -28px;
}

.vertical-text-2 {
    position: relative;
    width: 150px;
    top: 9px;
}

.project-desc {
    position: relative;
    top: 12px;
    width: 200px;
    color: gray;
    font-size: 13px;
}

#fifthSection {
    max-width: 80vw;
    margin: auto;
}

.h-primary h1 {
    font-size: 2rem;
    margin-right: 50px;
    margin-top: 15px;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.2rem;
}

#contact-box button {
    cursor: pointer;
    border-radius: 3px;
    padding: 0.2rem;
}

footer .text-center {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
}

@media screen and (max-width: 1500px) {
    nav {
        flex-direction: column;
    }

    .leftSection {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rightSection {
        width: 220px !important;
        display: flex;
        justify-content: center;
    }

    #firstSection {
        flex-direction: column-reverse;
    }

    #thirdSection {
        height: 655px;
    }

    #thirdSection .box {
        flex-direction: column;
        margin: 30px 0;
    }

    #thirdSection .vertical {
        height: unset;

    }

    #thirdSection .image-top {
        top: 34px;
    }

    #thirdSection .vertical-text {
        left: 45px;
    }

    #thirdSection .image-top-1 {
        top: 39px;
    }

    #thirdSection .vertical-text-1 {
        left: 45px;
    }

    #fourthSection {
        height: 673px;
    }

    #fourthSection .box-1 {
        flex-direction: column;
        margin: 30px 0;
    }

    #fourthSection .vertical-project {
        height: unset;
        position: relative;
        right: 78px;
    }

    #fourthSection .image-top-2 {
        top: 39px;
    }

    #fourthSection .vertical-text-2 {
        left: 45px;
    }

    #fourthSection .project-desc {
        left: 45px;
    }
}